<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.sgx.listeners.ListenerClass"></listener>
    </listeners>
    <test parallel="methods" thread-count="4" name="SGX - OpenCart Tests">
        <classes>
            <class name="com.sgx.tests.web.SGXOpenCartRegisterationTest"/>
            <class name="com.sgx.tests.web.SGXOpenCartLoginTest"/>
            <class name="com.sgx.tests.web.SGXOpenCartAddToCartTestSamsung"/>
        </classes>
    </test>
</suite>