<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.cbh.listeners.ListenerClass"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/amuthansakthivel/IdeaProjects/MasterFramework/src/test/java/com/tmb/tests/web/AddUsersTest.java">
        <classes>
            <class name="com.cbh.tests.web.AmazonTest"/>
        </classes>
    </test>
</suite>